<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dockerize App</title>
</head>
<body style="background-color:rgb(11, 240, 129);">
    <h1 style="text-align:center;">Dockerize App</h1>
    <hr>
    <fieldset>
    <b>
    <p>Docker repo login</p> 
    </b>
    <form method="post" action="/dockerize">
    <p>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    <label for="">Password:</label>
    <input type="password" id="password" name="password" required>
   </hr>
    </p>
    </fieldset>
    <p> 
    </p>
    <fieldset>
        <label for="github_repo">GitHub Repository:</label>
        <input type="text" id="github_repo" name="github_repo" required>
        <br>
        <label for="image_name">Image Name:</label>
        <input type="text" id="image_name" name="image_name" required>
        <br>
        <label for="host">Host:</label>
        <input type="text" id="host" name="host" required>
        <br>
        <label for="port">Port:</label>
        <input type="text" id="port" name="port" required>
        <br>
    </fieldset>
        <button type="submit">Dockerize App</button>
    </form>
</body>
</html>
